{% extends 'base.html' %}

{% block subheader %}Edit Grade Scale{% endblock %}

{% block content %}
    <p>Note the default grade scale is that of the University of Michigan's law school.</p>
    <p><i>If 'value' is left blank for a grade, classes with this grade will have no effect on a GPA.</i></p>
    
    <form method="post" action="">{% csrf_token %}
        <input class="basic-space-bottom" type="submit" value="Submit" />
        {{ form.management_form }}
        {% for f in form %}
            <ul>
                {{ f.as_ul }}
                <hr />
            </ul>
        {% endfor %}
    </form>
{% endblock content %}