{% extends 'base.html' %}

{% block subheader %}Semester Index{% endblock %}

{% block content %}
    <h4><em>Cumulative GPA:</em> {{ cumulative_gpa|floatformat:3 }}</h4>
    
    <div class="basic-space">
        <a href="{% url 'create_semester' %}">Add semester</a>
    </div>

    <div class="semester-listings">
        {% for s in semester_list %}
            <div class="semester-listing basic-space">
                <h3>{% if s.description %}{{ s }}{% else %}Semester {{ forloop.counter }}{% endif %}
                    <small> (
                        <a href="{% url 'update_semester' s.id %}">edit</a> | 
                        <a href="{% url 'delete_semester' s.id %}">delete</a> )
                    </small>
                </h3>
                
                <table>
                    <thead>
                        <tr>
                            <th class="extra-wide">Name</th>
                            <th>Credits</th>
                            <th>Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in s.uclass_set.all %}
                        <tr>
                            <td>{% if c.name %}{{ c.name }}{% else %}Class {{ forloop.counter }}{% endif %}</td>
                            <td class="center-text">{{ c.credits }}</td>
                            <td class="center-text">{{ c.grade }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>(no classes)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <h4 class="small-space"><em>GPA:</em> {{ s.gpa|floatformat:3 }}</h4>
            </div>
        {% empty %}
        {% endfor %}
    </div>
    
    <footer class="clear">
        <span class="block">&copy; 2014 Adam Beagle</span>
        <span class="block">View source <a href="https://github.com/adambeagle/gpacalc">at Github</a></span>
    </footer>
{% endblock content %}