{% extends 'base.html' %}

{% block subheader %}
    {% if is_update %}Edit{% else %}Create{% endif %} Semester
{% endblock %}

{% block content %}
    <form method="post" action="">{% csrf_token %}
        {{ semester_form.as_p }}
        <input type="submit" value="Submit" />
        <h3 class="basic-space">{% if is_update %}Edit{% else %}Add{% endif %} classes</h2>
        <span class="block"><small><i>*Bold fields are required.</i></small></span>
        <hr />
        {{ classes_formset.management_form }}
        {% for cform in classes_formset %}
            {{ cform.as_ul }}
            <hr />
        {% endfor %}
    </form>
{% endblock content %}